/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  font-family: 'Bebas Neue', cursive;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.responsive-navbar{
  background-color: #00000046;
}

@media only screen and (max-width: 1200px){
  .carousel_box{
    padding-top: 4rem;
  }
  .responsive-navbar{
    background-color: #000000!important;
  }
}

.fondo{
  min-height: 100vh;
}

.text-violet{
  color: #833AB4;
}

.text-sun{
  color: #f9f900!important; 
}

.btn-sun{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 0.375rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  color: #2e2a2a;
  background-color: #f9f900;
  transition: all 0.3s ease-out;
}

.btn-sun:hover{
  background-color: #bcbc1b;
  color: #000000;
}

.bg-sun{
  background-color: #f9f900;
}

.imgDeFondo{
  background-image: linear-gradient(rgba(5, 7 , 12, 0.75), rgba(5, 7, 12, 0.75)),
  url(./images/netfer.jpg);
  background-size: cover;

}

.formularioLogin{
  background-color: #101217e2;
}

.profiles{
  max-height: 150px;
  max-width: 150px;
  min-height: 84px;
  min-width: 84px;
}

.animar{
    animation-duration: 0.45s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: animateProfileGate;
}

@keyframes animateProfileGate {
    0%{
      transform: scale(0.8);
      background-color: #282c34;
    } 
    100%{
      transform: scale(1);
    }
}

.btnHover{
  transition: all 0.4s ease-out;
  transition-delay: 0.1s;
}
.btnHover:hover{
  transform: scale(1.12);
}

.imgOpacity{
  opacity: 0.4;
}

.colorProfile{
  color: #6c757d;
}

.colorProfile:hover{
  color: aliceblue;
}

.dropdown-item{
  cursor: pointer;
}

.nav_login{
  background-color: #00000050;
}

.view_categories_size{
  max-width: 750px;
  max-height: 550px;
}

@media only screen and (max-width: 800px){
  .view_categories_size{
    max-height: 370px;
    max-width: 600px;
  }
}

.font-title{
  font-size: 8vw;
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 6px black;
}

.font-description{
  font-size: 1.5vw;
}

.title_global_card_movies{
  font-size: 10px;
}

.categories_img_hover{
  transition: all 0.4s ease-out;
  position: relative;
}
/* 
.categories_img_hover::after{
  content: '';
  background: radial-gradient(#833ab431, #9700fc2e);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
} */

.categories_img_hover:hover{
  z-index: 2;
  transform: scale(1.2);
  cursor: pointer;
}


.orden{
  z-index: 2;
}

.cancel_icon{
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  border: 1px solid #000000;
}

::-webkit-scrollbar-thumb{
  background: #f9f900;
  border-radius: 5px;
  
}


.transformar{
  left: auto;
  transform-origin: 50% 12.5%;
  top: 2em;
}

.cursor{
  cursor: pointer;
}

.episodes_hover{
  transition: all 0.5s ease-out;
}

.episodes_hover:hover{
  background: #8a7c7c8b;
}

.img_homepage{
  box-shadow: inset 0px 0px 150px 100px rgb(0, 0, 0);
}

.carousel_box{
  position: relative;
}
.carousel_box::before{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.categories_img_box{
  position: relative;
}
.categories_img_box::before{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.categories_img_box::after{
  content: '';
  height: 100%;
  width: 15%;
  position: absolute;
  left: 0px;
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.serie_details_font_size_title{
  font-size: 6vw;
}